:root {
    --offwhite: #FCFDFF;
    --blue: #038DFE;
    --blue2: #0677D3;
    --tranBlue: rgba(3, 141, 254, 0.70);
    --darkText: #2B2B2B;
    --darkBlue: #496174;
    --gray: #959494;
}


/*  */
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#bg {
    position: fixed;
    width: 59%;
    height: 100%;
    top: 0;
    left: 20%;
    background-image: url('../img/Path.png');
    /* background-color: red; */
    z-index: -2;
}

/*  */
#Navbar {
    /* background-color: black; */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Navbar img {
    width: 210px;
    margin-right: 100px;
    margin-left: 350px;
}

.navText {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0 15px;
    font-size: 14px;
    text-decoration: none;
    /*  */
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.navText:hover {
    color: var(--blue);
}

.navBtns {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#navbtn1 {
    margin-left: 40px;
    background-color: var(--blue);
}

#navbtn1:hover {
    border: 1px solid var(--blue);
    background-color: transparent;
    color: var(--blue);
}

#navbtn2:hover {
    background-color: var(--blue);
    color: white;
}

#navLangue {
    margin-left: 265px;
}

/*  */
#part1 {
    margin-bottom: 175px;
    display: flex;
    justify-content: center;
}

#part1 img {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 1903px;
}

#part1-in {
    width: 1150px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#part1-title {
    font-size: 36px;
    color: white;
    font-weight: 500;
}

#part1-desc {
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

.part1-btns {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 500;
    /*  */
    padding: 15px 55px;
    border-radius: 9999px;
    /*  */
    user-select: none;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

#part1-btn1 {
    border: 3px solid white;
}

#part1-btn2 {
    background-color: var(--blue);
    padding: 18px 45px;
    box-shadow: 0px 0px 30px var(--tranBlue);
}

/*  */
#part1-btn1:hover {
    border-color: var(--blue);
    color: var(--blue);
}

#part1-btn2:hover {
    background-color: white;
    color: var(--blue);
}

/*  */
#part2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#part2-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: var(--darkText);
    letter-spacing: 5px;
    /* font-weight: 500; */
}

#part2-txt {
    margin-top: 15px;
    width: 59%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: var(--darkText);
}

/*  */
#part3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* width: 60%; */
}

.part3-item {
    width: 18%;
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: red; */
    margin: 0 5px;
    text-align: center;
    margin-top: 40px;
    /*  */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.part3-item img {
    /* height: 46px; */
    /* width: 46px; */
    object-fit: contain;
}

.part3-title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--darkBlue);
    margin-top: 20px;
}

.part3-content {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-top: 20px;
    color: black;
    letter-spacing: 1px;
}

/*  */
#part4 {
    background-color: var(--blue2);
    margin-top: 50px;
    /*  */
    display: flex;
    flex-direction: row;
}

.part4-item {
    background-color: var(--blue2);
    width: 50%;
    height: 480px;
    /*  */
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 2px;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#part4-img {
    background-image: url('../img/img1.png');
    background-position: center;
    background-size: cover;
    /*  */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*  */
#part5 {
    margin-top: 50px;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#part5-title {
    font-family: 'Montserrat', sans-serif;
    color: var(--darkText);
    letter-spacing: 5px;
    font-size: 36px;
}

#part5-desc {
    margin-top: 25px;
    width: 1050px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    color: var(--darkText);
}

#part5-maps {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.part5-map {
    width: 550px;
    height: 267px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: yellow;
    background-position: center;
    background-size: cover;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.part5-map:first-child {
    margin-right: 10px;
    background-image: url('../img/img2.png');
}

.part5-map:last-child {
    margin-left: 10px;
    background-image: url('../img/img3.png');
}

.part5-map-details {
    background-color: var(--offwhite);
    height: 53px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*  */
    display: flex;
    align-items: center;
}

.part5-map-desc {
    margin-left: 14px;
}

.part5-map-desc-title {
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 9px;
}

.part5-map-desc-txt {
    font-family: 'Montserrat', sans-serif;
    color: var(--darkText);
}

#part5-map-desc-txt-Y {
    font-size: 13px;
    letter-spacing: 2px;
}

#part5-map-desc-txt-S {
    font-size: 11px;
    letter-spacing: 1px;
}

/*  */
#part6 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#part6-title {
    font-family: 'Montserrat', sans-serif;
    color: var(--darkText);
    letter-spacing: 5px;
    font-size: 36px;
}

#part6-btn {
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    /*  */
    margin-top: 50px;
    padding: 20px 40px;
    background-color: var(--blue);
    border-radius: 99999px;
    box-shadow: 0px 0px 30px var(--tranBlue);
    user-select: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#part6-btn:hover {
    background-color: transparent;
    color: var(--blue);
}

/*  */
#part7 {
    margin-top: 125px;
    display: flex;
    flex-direction: row;
}

.part7-items {
    width: 50%;
    height: 400px;
}

#part7-left {
    background-color: var(--blue);
    /*  */
    display: flex;
    flex-direction: row;
}

#part7-left-img {
    width: 691px;
    height: 100%;
    /* background-color: red; */
    background-image: url('../img/img4.png');
    background-position: center;
    background-size: 104.5%;

}

#part7-left-details {
    width: 270px;
    /*  */
    display: flex;
    flex-direction: column;
}

.part7-left-data {
    width: 100%;
    height: 133px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.part7-left-data:last-of-type {
    border-bottom: none;
}

.part7-left-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.part7-left-desc {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    width: 230px;
    margin-top: 15px;
}

#part7-right {
    background-color: var(--blue2);
    /*  */
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 5px;
    /*  */
    justify-content: center;
    align-items: center;
}

#part7-right span {
    margin-top: -25px;
}

#part7-right img {
    object-fit: none;
    margin-top: 55px;
}

/*  */
/*  */
#Footer {
    width: 100%;
    height: 93px;
    background-color: black;
    margin-top: 100px;
    /*  */
    display: flex;
    flex-direction: row;
}

.footer-sections {
    width: 33.33%;
    height: 100%;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-sections:last-of-type {
    align-items: flex-end;
}

.footer-sections:first-of-type {
    align-items: flex-start;
}

.footer-sections p {
    padding: 0;
    margin: 0;
}

#footer-email-cont {
    margin-top: 5px;
}

#footer-email {
    color: var(--blue);
    font-size: 14px;
    letter-spacing: 3px;
}

.footer-txt {
    font-size: 14px;
    color: var(--gray);
    letter-spacing: 3px;
}