:root {
    --offwhite: #FCFDFF;
    --transwhite: rgba(255, 255, 255, 0.5);
    --blue: #038DFE;
    --blue2: #0677D3;
    --tranBlue: rgba(3, 141, 254, 0.70);
    --darkText: #2B2B2B;
    --darkBlue: #496174;
    --gray: #959494;
    --border: #8A8A8A;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/*  */
#bg {
    position: fixed;
    width: 60%;
    height: 100%;
    /* top: 0; */
    /* left: 20%; */
    background-image: url('../img/Path.png');
    /* background-color: red; */
    z-index: -2;
}

/*  */
#Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*  */
#Navbar {
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    transition: background-color 50ms ease;
}

#NavBar-Inside {
    /* margin: 0 auto; */
    /*  */
    width: 1200px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.YouCode-Logo {
    width: 210px;
    /* margin-right: 10%; */
    /* margin-right: 100px; */
    /* margin-left: 350px; */
}

#NavBar-Inside div {
    /* white-space: nowrap; */
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* display: flex; */
    /* flex-direction: ; */
}

.navText {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* margin: 0 15px; */
    margin-right: 1.5%;
    font-size: 0.88rem;
    text-decoration: none;
    /*  */
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.navText:hover {
    color: var(--blue);
}

.navBtns {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#navbtn1 {
    /* margin-left: 40px; */
    background-color: var(--blue);
}

#navbtn1:hover {
    border: 1px solid var(--blue);
    background-color: transparent;
    color: var(--blue);
}

#navbtn2:hover {
    background-color: var(--blue);
    color: white;
}

#navLangue {
    /* margin-left: 265px; */
}

/*  */
#Body {
    /* width: fit-content; */
}

/*  */
/*  */
#Footer {
    width: 100%;
    height: 93px;
    background-color: black;
    /* margin-top: 100px; */
    /*  */
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    box-sizing: border-box;
}

.footer-sections {
    width: 33.33%;
    height: 100%;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-sections:last-of-type {
    align-items: flex-end;
}

.footer-sections:first-of-type {
    align-items: flex-start;
}

.footer-sections p {
    padding: 0;
    margin: 0;
}

#footer-email-cont {
    margin-top: 5px;
}

#footer-email {
    color: var(--blue);
    font-size: 14px;
    letter-spacing: 3px;
}

.footer-txt {
    font-size: 14px;
    color: var(--gray);
    letter-spacing: 3px;
}

/*  */
/*  */
#Body {
    flex: auto;
    /* height: 75%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-Form {
    width: 850px;
    height: 456px;
}

#login-title {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--darkText);
}

#login-inputs-cont {
    display: flex;
    flex-direction: column;
}

.login-inputs {
    width: 737px;
    height: 63px;
    margin-top: 30px;
    background-color: var(--transwhite);
    border: 1px solid var(--border);
    border-radius: 7.5px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: var(--border);
    outline: none;
}

.login-inputs:focus {
    border-color: var(--blue);
}

#login-btn {
    height: 46px;
    width: 156px;
    padding: 0;
    cursor: pointer;
}

#login-btn:focus {
    border-color: var(--border);
}

#login-btn:hover {
    color: var(--blue);
    border-color: var(--blue);
}


#login-txt {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.login-txt {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: var(--darkText);
}

#login-register {
    color: var(--blue);
    cursor: pointer;
}

/*  */
/*  */
.flex-gap {
    flex: auto;
}

.part2-width {
    max-width: 1200px;
}

/*  */
#NavBar-Mobile {
    /*  */
    /*  */
    /* background-color: greenyellow; */
    width: 100%;
    /* height: 60px; */
    /*  */
    display: flex;
    flex-direction: row;
    align-items: center;
    /*  */
    display: none;
}

#navBar-menu-icon {
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}

#navBar-menu {
    position: fixed;
    background-color: black;
    transition: height 500ms ease-in;
    width: -webkit-fill-available;
    height: 0px;
    top: 60px;
    /*  */
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#navBar-menu div {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#navBar-menu-btn1,
#navBar-menu-btn2 {
    font-size: 20px;
}

#navBar-menu-btn1:hover,
#navBar-menu-btn2:hover {
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
    box-shadow: 0px 1px 10px var(--tranBlue);
}

#navBar-menu-btn1 {
    background-color: var(--blue);
}

.navBar-menu-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 15px;
    box-sizing: border-box;
    width: inherit;
    border-bottom: 1px solid white;
    text-align: center;
    text-decoration: none;
    /*  */
    transition: color 100ms ease-in-out;
    /* margin: 5px 0; */
}

.navBar-menu-link:hover {
    color: var(--blue);
}

/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (max-width:1150px) {
    .flex-gap {
        display: none;
    }
}

@media screen and (max-width:1050px) {
    #NavBar-Inside {
        display: none;
    }

    #NavBar {
        background-color: black;
    }

    #NavBar-Mobile {
        display: flex;
    }

    .YouCode-Logo {
        width: 150px;
    }

    #Navbar {
        height: 60px;
    }

    /*  */
    .part2-width,
    #part1-in {
        width: -webkit-fill-available;
        max-width: 920px;
    }

    /*  */
    /*  */
    #part4-txt-cont {
        padding: 30px;
    }
}

@media screen and (max-width:950px) {

    #part2-2,
    #part5-maps,
    #part7-in,
    #part4,
    #Footer {
        flex-direction: column;
    }

    #part4,
    #part7-in {
        height: 800px;
    }

    #part4-txt-cont {
        padding: 60px;
    }

    #part4-img {
        border-radius: 0px;
    }

    #part1-in {
        width: auto;
        align-items: center;
        margin-top: 0px;
    }

    #part2,
    #part5 {
        padding: 0 40px;
    }

    .part3-item {
        line-height: 25px;
    }

    .part5-map:first-child,
    .part5-map:last-child {
        margin: 0px;
    }

    .part5-map:last-child {
        margin-top: 15px;
    }

    #part6-title,
    #part4-txt-desc {
        text-align: center;
    }

    /*  */
    #Footer {
        padding: 15px 0;
        height: auto;
    }

    .footer-sections:last-of-type,
    .footer-sections:first-of-type {
        align-items: center;
    }

    .footer-sections {
        flex: 1;
        width: auto;
    }

    #footer-Cop {
        margin-top: 30px;
    }

    /*  */
    /*  */
    #Body {
        padding: 150px 50px;
        box-sizing: border-box;
    }

    #login-Form {
        height: auto;
        width: fit-content;
        flex: 1;
        /*  */
        display: flex;
        flex-direction: column;
    }

    .login-inputs {
        width: 380px;
    }

    #login-title,
    .login-txt,
    #login-txt,
    #login-Form a,
    #login-inputs-cont {
        width: fit-content;
    }
}